*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url("./img/img.jpg")no-repeat center center fixed;
    background-size: cover;
    text-align: center; 
}

h1{
    padding: 100px;
    color: white;
    font-size: bold;
    
}


#guess, #check{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}

#guess{
    width: 250px;
}

p{
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    color: white;
}












